/**** P R O J E C T   C O L O R S ******/
/* G E N E R A L   C O L O R S */
/* S O C I A L  N E T W O R K S   C O L O R S */
/* box-sizing: border-box;
 --> Antigua practica
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
 --> Recomendable 
Para que no cause conflictos con
Themes con un CMS como WordPress o con Proyectos Grandes
asi no afecta sus propiedades de origen
*/
html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

/**** H T M L - E L E M E N T S ******/
* { margin: 0; padding: 0; font-family: 'Roboto', sans-serif; color: #002060; text-align: center; }

body { background: #fff; }

/* M Y  -  O W N S */
/*******************************************/
.border { border: 1px solid red; }

.border-g { border: 1px solid green; }

.border-y { border: 1px solid yellow; }

.border-p { border: 1px solid purple; }

.border-b { border: 1px solid #007bff; }

/*******************************************/
nav ul li { list-style: none; }

a { text-decoration: none; font-size: 1.2em; }

img { pointer-events: none; }

i { color: #fff; font-size: 1.5em; vertical-align: middle; }

/*******************************************/
header, section { padding: 1em 1em; }

h1, h2, h3, h4, h5 { font-family: 'Playfair Display', serif; }

h1 { font-size: 2.9em; }

h2 { font-size: 2.3em; }

h3 { font-size: 1.8em; }

h4 { font-size: 1.2em; }

p { font-size: 1.3em; line-height: 1.4em; text-align: left; }

span.text-pink { font-family: 'Playfair Display', serif; color: #FF05CC; }

/*     Mom, donate button     */
.box-btn { display: flex; justify-content: center; padding: .5em 0; }

.box-btn a { padding: .5em .3em; border-radius: .5em; color: #fff; font-weight: 700; width: 10em; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); }

.box-btn a span { color: #fff; vertical-align: middle; font-size: 1.1em; }

.box-btn a.btn-donar { background: linear-gradient(to right, #0804DB 0%, #002060 100%); }

.box-btn a.btn-donar:hover { background: #0804DB; }

.box-btn a.btn-mama { background: linear-gradient(to right, #FF05CC 0%, #A504DB 100%); }

.box-btn a.btn-mama:hover { background: #FF05CC; }

/*     Social networks, float button     */
.box-float-btn #float-btn { display: none; }

.box-float-btn #float-btn:checked ~ .modal-contact { opacity: 1; visibility: visible; }

.box-float-btn #float-btn:checked ~ .float-btn-contact i.call { display: none; }

.box-float-btn #float-btn:checked ~ .float-btn-contact i.close { opacity: 1; visibility: visible; }

.box-float-btn .float-btn-contact { position: fixed; bottom: 25px; right: 25px; z-index: 10; cursor: pointer; display: block; width: 50px; height: 50px; line-height: 50px; text-align: center; border-radius: 50%; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); background: linear-gradient(to right, #FF05CC 20%, #6711F2 75%, #002060 100%); }

.box-float-btn .float-btn-contact i.close { opacity: 0; visibility: hidden; }

.box-float-btn .modal-contact { opacity: 0; visibility: hidden; position: fixed; left: 0; right: 0; top: 0; width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, 0.5); }

.box-float-btn .modal-contact .modal-content { width: 90vw; left: 0; right: 0; margin: auto; margin-top: 5em; padding: 0 .2em 1em; background: #fff; border-radius: .5em; }

.box-float-btn .modal-contact .modal-content p.title { display: block; padding: .6em .3em; text-align: center; }

.box-float-btn .modal-contact .modal-content .social-networks { display: grid; grid-template-columns: 1fr 1fr; grid-gap: 1em; }

.box-float-btn .modal-contact .modal-content .social-networks a { margin: auto; background: rgba(238, 238, 238, 0.7); width: 100%; border-radius: .5em; border: none; text-align: center; padding: .5em; }

.box-float-btn .modal-contact .modal-content .social-networks a:hover { background: rgba(0, 32, 96, 0.2); }

.box-float-btn .modal-contact .modal-content .social-networks a img { width: 50px; height: 50px; line-height: 50px; }

.box-float-btn .modal-contact .modal-content .social-networks a img.phone { width: 100px; height: 32px; }

.box-float-btn .modal-contact .modal-content .social-networks a p { font-size: .8em; text-align: center; }

header { position: fixed; z-index: 10; background: #fff; width: 100%; height: 4em; display: flex; justify-content: space-between; display: flex; align-items: center; }

header .box-logo a img { background: #fff; width: 100px; }

header .box-menu .menu-hamburguer { width: 1.5em; height: 1.5em; justify-content: center; cursor: pointer; }

header .box-menu .menu-hamburguer .modal { display: none; position: fixed; left: 0; right: 0; width: 100%; height: 100%; margin-top: 1.2em; background-color: rgba(0, 0, 0, 0.5); }

header .box-menu .menu-hamburguer .modal .modal-menu { position: absolute; left: 0; right: 0; margin: auto; margin-top: 2em; width: 85%; background: #fff; border-radius: .5em; padding: 1em 0; justify-content: center; }

header .box-menu .menu-hamburguer .modal .modal-menu ul li { padding: .8em 0 .8em 25%; text-align: left; }

header .box-menu .menu-hamburguer .modal .modal-menu ul li a { color: #002060; font-weight: 600; font-size: 1em; }

header .box-menu .menu-hamburguer .modal .modal-menu ul li a:hover { padding-bottom: .5em; border-bottom: 2px solid #002060; }

header .box-menu .menu-hamburguer .modal .modal-menu ul li a i, header .box-menu .menu-hamburguer .modal .modal-menu ul li a span { font-size: 1em; color: #002060; vertical-align: middle; }

header .box-menu .menu-hamburguer .menu-icon { display: none; }

header .box-menu .menu-hamburguer .menu-icon:checked ~ .modal { display: block; }

header .box-menu .menu-hamburguer .menu-icon:checked ~ label:after { content: ""; display: block; width: 1.5em; height: 1.5em; background: url("../../assets/icons/icon-close.svg") no-repeat; }

header .box-menu .menu-hamburguer label { user-select: none; }

header .box-menu .menu-hamburguer label:after { cursor: pointer; content: ""; display: block; width: 1.5em; height: 1em; background: url("../../assets/icons/icon-hamburger.svg") no-repeat; transition: .3s ease all; }

header .box-menu nav.menu-nav { display: none; }

header .box-menu nav.menu-nav ul li:hover { padding-bottom: .5em; border-bottom: 2px solid #002060; }

header .box-menu nav.menu-nav i, header .box-menu nav.menu-nav span { font-size: 1.5em; color: #002060; vertical-align: middle; }

header .box-btn { display: none; }

.welcome { padding-top: 4em; }

.welcome p { padding: 2.5em 0 .5em; }

.welcome .box-images { overflow: hidden; }

.welcome .box-images img { margin: 1em 0; width: 95%; }

.welcome .box-text { padding-bottom: 1em; }

.welcome .box-ayuda p { padding-bottom: 1.5em; }

.why-lyn { background: #eee; }

.why-lyn .box-title { padding: 1em 0; }

.why-lyn .box-description p { padding: .5em 0; color: #6c757d; }

.why-lyn .box-beneficios .beneficio { display: grid; grid-template-columns: 6.5em 1fr; align-items: center; padding: 1.5em 0; }

.why-lyn .box-beneficios .beneficio .box-image { background: linear-gradient(to right, #FF05CC 20%, #6711F2 75%, #002060 100%); border-radius: 50%; width: 80px; height: 80px; text-align: center; padding-top: .5em; }

.why-lyn .box-beneficios .beneficio .box-image i { font-size: 4.3em; }

.why-lyn .box-beneficios .beneficio .box-text { text-align: left; }

.why-lyn .box-beneficios .beneficio .box-text p { font-weight: 600; padding: .25em 0; text-align: left; }

.why-lyn .box-beneficios .beneficio .box-text span { font-size: .9em; color: #6c757d; padding: .25em 0; }

.why-lyn .box-contact .box-title p { text-align: center; }

.gallery .box-text { padding: 1em 0; }

.gallery .glider { position: relative; }

.gallery .glider .glider-prev, .gallery .glider .glider-next { position: absolute; background: rgba(255, 255, 255, 0.6); border: none; top: calc(60% - 38px); cursor: pointer; display: block; width: 1.1em; height: 1.1em; line-height: 1em; text-align: center; }

.gallery .glider .glider-prev:hover, .gallery .glider .glider-next:hover { background: #fff; }

.gallery .glider .glider-prev i, .gallery .glider .glider-next i { color: #002060; font-size: 1em; }

.gallery .glider .glider-prev { left: 10px; }

.gallery .glider .glider-next { right: 10px; }

.gallery .glider .images { overflow: hidden; }

.gallery .glider .images .image { width: 100%; padding: 1em 0; margin: 0 .5em; }

.gallery .glider .images .image .box-image { background-image: linear-gradient(180deg, #FF05CC 0%, #6711F2 51%, #002060 100%); position: relative; height: 200px; overflow: hidden; }

.gallery .glider .images .image .box-image img { width: 100%; height: 200px; padding: .2em; }

.gallery .glider .images .image .box-image .color-overlay { background-image: linear-gradient(180deg, #FF05CC 0%, #6711F2 51%, #002060 100%); opacity: .3; width: 100%; height: 100%; position: absolute; left: 0; top: 0; }

.gallery .glider .images .image .box-description, .gallery .glider .images .image .box-description-text { background: #eee; display: flex; justify-content: space-between; border-bottom: 1px solid #002060; padding: .5em 1em; }

.gallery .glider .images .image .box-description i, .gallery .glider .images .image .box-description-text i { color: #A504DB; font-size: 1.5em; padding-right: .1em; }

.gallery .glider .images .image .box-description span, .gallery .glider .images .image .box-description-text span { vertical-align: middle; font-size: 1.5em; }

.gallery .glider .images .image .box-description-text { overflow: hidden; height: 61px; }

.gallery .glider .images .image .box-description-text span { font-size: 1em; color: #343a40; text-align: left; line-height: 1.5em; }

.gallery .glider-dot { display: block; width: 1.5em; height: .5em; border-radius: .5em; background: #eee; }

.gallery .glider-dot.active { background: #FF05CC; }

.gallery .glider-dot:hover { background: #A504DB; }

@media screen and (min-width: 35.5em) { header div.box-menu .menu-hamburguer { display: none; }
  header div.box-menu nav.menu-nav { display: flex; }
  header div.box-menu nav.menu-nav ul li { display: inline-block; }
  header div.box-menu nav.menu-nav ul li a { margin: 0 .5em; }
  header div.box-menu nav.menu-nav ul li a span { display: none; }
  header div.box-btn { display: flex; }
  .gallery .glider .images .image .box-image { height: 250px; }
  .gallery .glider .images .image .box-image img { height: 250px; } }

@media screen and (min-width: 48em) { header div.box-menu nav.menu-nav ul li { margin: 1em .3em 0; }
  header div.box-menu nav.menu-nav ul li a { margin: 0; }
  header div.box-menu nav.menu-nav ul li a span { display: block; font-size: .7em; }
  .welcome { padding-top: 5em; display: grid; grid-template-columns: 1fr 1fr; grid-gap: 0 1em; }
  .welcome .box-images { grid-row-start: 1; grid-row-end: 1; grid-column-start: 2; grid-column-end: 2; }
  .welcome .box-title { grid-row-start: 1; grid-row-end: 1; grid-column-start: 1; grid-column-end: 1; padding-top: 1em; }
  .welcome .box-ayuda { grid-row-start: 3; grid-row-end: 3; grid-column-start: 1; grid-column-end: 3; }
  .welcome .box-ayuda p { text-align: center; line-height: 1.5em; }
  .why-lyn .box-description p { text-align: center; }
  .why-lyn .box-beneficios { display: grid; grid-template-columns: 1fr 1fr; }
  .why-lyn .box-contact p { font-weight: 600; } }

@media screen and (min-width: 64em) { header div.box-menu nav.menu-nav ul li { margin: .5em .8em 0; }
  header div.box-menu nav.menu-nav ul li a span { display: block; font-size: 1em; }
  .welcome .box-title { padding: 15% 0; }
  .why-lyn .box-description p { text-align: center; }
  .why-lyn .box-beneficios { display: grid; grid-template-columns: 1fr 1fr 1fr; }
  .why-lyn .box-contact .social-media a { padding: 1em; }
  .why-lyn .box-contact .social-media a img { width: 5.62em; }
  .box-float-btn .modal-contact .modal-content .social-networks { grid-template-columns: 1fr 1fr 1fr 1fr; }
  .box-float-btn .modal-contact .modal-content .social-networks a { height: 100px; } }

@media screen and (min-width: 80em) { .gallery .glider .glider-prev { left: 35px; }
  .gallery .glider .glider-next { right: 35px; }
  .gallery .glider .images .image { margin: 0 2em; }
  .gallery .glider .images .image .box-image { height: 350px; }
  .gallery .glider .images .image .box-image img { height: 350px; } }
/*# sourceMappingURL=main.css.map */