/**** P R O J E C T   C O L O R S ******/
/* G E N E R A L   C O L O R S */
/* S O C I A L  N E T W O R K S   C O L O R S */
/* box-sizing: border-box;
 --> Antigua practica
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
 --> Recomendable 
Para que no cause conflictos con
Themes con un CMS como WordPress o con Proyectos Grandes
asi no afecta sus propiedades de origen
*/
html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

/**** H T M L - E L E M E N T S ******/
* { margin: 0; padding: 0; font-family: 'Roboto', sans-serif; color: #002060; text-align: center; }

body { background: #fff; }

/* M Y  -  O W N S */
/*******************************************/
.border { border: 1px solid red; }

.border-g { border: 1px solid green; }

.border-y { border: 1px solid yellow; }

.border-p { border: 1px solid purple; }

.border-b { border: 1px solid #007bff; }

/*******************************************/
nav ul li { list-style: none; }

a { text-decoration: none; font-size: 1.2em; }

img { pointer-events: none; }

i { color: #fff; font-size: 2em; vertical-align: middle; }

/*******************************************/
header, section { padding: 1em 1em; }

h1, h2, h3, h4, h5 { font-family: 'Playfair Display', serif; }

h1 { font-size: 2.9em; }

h2 { font-size: 2.3em; }

h3 { font-size: 1.8em; }

p { font-size: 1.3em; line-height: 1.4em; text-align: left; }

/*     Mom, donate button     */
.box-btn { display: flex; justify-content: center; padding: .5em 0; }

.box-btn a { padding: .3em 0; border-radius: .5em; color: #fff; font-weight: 700; width: 11em; height: 2.5em; }

.box-btn a span { color: #fff; vertical-align: middle; font-size: 1.1em; }

.box-btn a.btn-donar { background: linear-gradient(to right, #0804DB 0%, #002060 100%); }

.box-btn a.btn-donar:hover { background: #0804DB; }

.box-btn a.btn-mama { background: linear-gradient(to right, #FF05CC 0%, #A504DB 100%); }

.box-btn a.btn-mama:hover { background: #FF05CC; }

/*     Social networks, float button     */
.box-float-btn { position: fixed; bottom: 25px; right: 25px; z-index: 9; }

.box-float-btn #float-btn { display: none; }

.box-float-btn #float-btn:checked ~ .box-float-contact a { margin-bottom: .3em; opacity: 1; visibility: visible; }

.box-float-btn #float-btn:checked ~ .float-btn-contact i.call { display: none; }

.box-float-btn #float-btn:checked ~ .float-btn-contact i.close { opacity: 1; visibility: visible; }

.box-float-btn .float-btn-contact, .box-float-btn .box-float-contact a { display: block; width: 50px; height: 50px; line-height: 50px; text-align: center; border-radius: 50%; background: #6711F2; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); transition: all 500ms ease; }

.box-float-btn .float-btn-contact { cursor: pointer; background: linear-gradient(to right, #FF05CC 20%, #6711F2 75%, #002060 100%); }

.box-float-btn .float-btn-contact i.close { opacity: 0; visibility: hidden; }

.box-float-btn .box-float-contact a { margin-bottom: -0.5em; opacity: 0; visibility: hidden; }

.box-float-btn .box-float-contact a:hover { background: #fff; }

.box-float-btn .box-float-contact a:hover i { color: #6711F2; }

header { position: fixed; z-index: 10; background: #fff; width: 100%; height: 4em; display: flex; justify-content: space-between; display: flex; align-items: center; }

header .box-logo a img { background: #fff; width: 100px; }

header .box-menu .menu-hamburguer { width: 1.5em; height: 1.5em; justify-content: center; cursor: pointer; }

header .box-menu .menu-hamburguer .modal { display: none; position: fixed; left: 0; right: 0; width: 100%; height: 100%; margin-top: 1.2em; background-color: rgba(0, 0, 0, 0.5); }

header .box-menu .menu-hamburguer .modal .modal-menu { position: absolute; left: 0; right: 0; margin: auto; margin-top: 2em; width: 85%; background: #fff; border-radius: .5em; padding: 1em 0; justify-content: center; }

header .box-menu .menu-hamburguer .modal .modal-menu li { padding: .8em; }

header .box-menu .menu-hamburguer .modal .modal-menu li a { color: #002060; font-weight: 600; font-size: 1em; }

header .box-menu .menu-hamburguer .menu-icon { display: none; }

header .box-menu .menu-hamburguer .menu-icon:checked ~ .modal { display: block; }

header .box-menu .menu-hamburguer .menu-icon:checked ~ label:after { content: ""; display: block; width: 1.5em; height: 1.5em; background: url("../../assets/icons/icon-close.svg") no-repeat; }

header .box-menu .menu-hamburguer label { user-select: none; }

header .box-menu .menu-hamburguer label:after { cursor: pointer; content: ""; display: block; width: 1.5em; height: 1em; background: url("../../assets/icons/icon-hamburger.svg") no-repeat; transition: .3s ease all; }

header .box-menu nav.menu-nav { display: none; }

header .box-btn { display: none; }

.welcome { padding-top: 4em; }

.welcome .box-images { overflow: hidden; }

.welcome .box-images img { margin: 1em 0; width: 95%; }

.welcome .box-images .image-burbujas { padding: 1.6em 0; }

.welcome .box-title { padding: 1em 0; }

.welcome .box-text { padding: 0; }

.welcome .box-text p { padding: 1em 0; }

.welcome .box-text .botones { padding-bottom: 1em; }

.welcome .box-ayuda p { padding-bottom: 1.5em; }

.why-lyn { background: #eee; }

.why-lyn .box-title { padding: 1em 0; }

.why-lyn .box-description p { padding: .5em 0; color: #6c757d; }

.why-lyn .box-beneficios .beneficio { display: grid; grid-template-columns: 6.5em 1fr; align-items: center; padding: 1.5em 0; }

.why-lyn .box-beneficios .beneficio .box-image { background: linear-gradient(to right, #FF05CC 20%, #6711F2 75%, #002060 100%); border-radius: 50%; width: 80px; height: 80px; text-align: center; padding-top: .5em; }

.why-lyn .box-beneficios .beneficio .box-image i { font-size: 4.3em; }

.why-lyn .box-beneficios .beneficio .box-text { text-align: left; }

.why-lyn .box-beneficios .beneficio .box-text p { font-weight: 600; padding: .25em 0; text-align: left; }

.why-lyn .box-beneficios .beneficio .box-text span { font-size: .9em; color: #6c757d; padding: .25em 0; }

.why-lyn .box-contact .box-title p { text-align: center; }

@media screen and (min-width: 35.5em) { header div.box-menu .menu-hamburguer { display: none; }
  header div.box-menu nav.menu-nav { display: flex; }
  header div.box-menu nav.menu-nav ul li { display: inline-block; }
  header div.box-menu nav.menu-nav ul li a { margin: 0 .5em; }
  header div.box-menu nav.menu-nav ul li a:hover { padding-bottom: .5em; border-bottom: 2px solid #002060; }
  header div.box-btn { display: flex; }
  /*.welcome{ .box-images{ display: grid; grid-template-columns: 1fr 1fr; grid-gap: 1em; align-items: center; } .box-text{ .botones{ display: grid; grid-template-columns: 1fr 1fr; grid-gap: .5em; padding: 1em 0; .boton{ .boton-box-text{ padding: 0; height: 60px; } } } } }*/ }

@media screen and (min-width: 48em) { .why-lyn .box-beneficios { display: grid; grid-template-columns: 1fr 1fr; } }

@media screen and (min-width: 64em) { .welcome { display: grid; grid-template-columns: 34.37em 1fr; }
  .welcome .box-title { grid-column-start: 1; grid-column-end: 3; grid-row-start: 1; grid-row-end: 1; }
  .welcome .box-title h1 { font-size: 3em; }
  .welcome .box-images { grid-column-start: 2; grid-column-end: 2; grid-row-start: 2; grid-row-end: 2; display: grid; }
  .welcome .box-text { display: block; }
  .welcome .box-text p { padding: 1em 0; text-align: left; font-size: 1.5em; line-height: 1.5em; }
  .welcome .box-text .botones { display: block; padding: 1.6em 0 0 0; }
  .welcome .box-text .botones .boton { padding: 0; padding-bottom: 1.5em; }
  .welcome .box-text .botones .boton .boton-box-text { height: auto; }
  .welcome .box-text .botones .boton .boton-box-text p { padding: 0; font-size: 1em; }
  .welcome .box-text .botones .boton .box-btn { justify-content: left; }
  .welcome .box-text .box-ayuda { margin-top: -2em; }
  .why-lyn { height: 100vh; }
  .why-lyn .box-description p { text-align: center; }
  .why-lyn .box-beneficios { display: grid; grid-template-columns: 1fr 1fr 1fr; }
  .why-lyn .box-contact .social-media a { padding: 1em; }
  .why-lyn .box-contact .social-media a img { width: 5.62em; } }

@media screen and (min-width: 80em) { .welcome { height: calc(100vh - 6.25em); } }
/*# sourceMappingURL=main.css.map */