/**** P R O J E C T   C O L O R S ******/
$white: #fff;
$lyn-gray: #eee;
$lyn-pink: #FF05CC;
$lyn-pink-s: #A504DB;
$lyn-purple: #6711F2;
$lyn-blue: #002060;
$lyn-blue-s: #0804DB;

$lyn-border-pink: 2px solid $lyn-pink;
$background-modal: rgba(0, 0, 0, .5);
$shadow-button: 5px 5px 10px rgba(0, 0, 0, 0.5);

/* G E N E R A L   C O L O R S */
$blue: #007bff;
$cyan: #17a2b8;
$indigo: #6610f2;
$danger: #dc3545;
$dark: #343a40;
$gray: #6c757d;
$gray-dark: #343a40;
$green: #28a745;
$info: #17a2b8;
$light: #f8f9fa;
$orange: #fd7e14;
$primary: #007bff;
$pink: #e83e8c;
$purple: #6f42c1;
$red: #dc3545;
$secondary: #6c757d;
$success: #28a745;
$teal: #20c997;
$warning: #ffc107;
$white: #fff;
$yellow: #ffc107;
/* S O C I A L  N E T W O R K S   C O L O R S */
$facebook: #3b5998;
$pinterest: #bd081c;
$twitter: #1da1f2;

/* box-sizing: border-box;
 --> Antigua practica
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
 --> Recomendable 
Para que no cause conflictos con
Themes con un CMS como WordPress o con Proyectos Grandes
asi no afecta sus propiedades de origen
*/
html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}

/**** H T M L - E L E M E N T S ******/
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: $lyn-blue;
    text-align: center;
}

body{
    background: $lyn-blue;
}

/* M Y  -  O W N S */
/*******************************************/
.border{
    border: 1px solid red;
}
.border-g{
    border: 1px solid green;
}
.border-y{
    border: 1px solid yellow;
}
.border-p{
    border: 1px solid purple;
}
.border-b{
    border: 1px solid $blue;
}

/*******************************************/
nav ul li{
    list-style: none;
    // width: 50%;
    // float: left;
}
a{
    text-decoration: none;
    font-size: 1.2em;
}
img{
    pointer-events: none;
}
i{
    color: $white;
    font-size: 1.5em;
    vertical-align: middle;
}
/*******************************************/
header, section, footer{
    padding: 2.5em 1em;
}

h1, h2, h3, h4, h5{
    font-family: 'Playfair Display', serif;
    // font-family: 'Barlow', sans-serif;
}

h1{
    font-size: 2.9em;
}
h2{
    font-size: 2.3em;
}
h3{
    font-size: 1.8em;
}
h4{
    font-size: 1.3em;
}
p{
    font-size: 1.3em;
    line-height: 1.4em;
    text-align: left;
}
span.text-pink{
    font-family: 'Playfair Display', serif;
    // font-family: 'Barlow', sans-serif;
    color: $lyn-pink;
}
div.box-logo a{
    display: block;
    width: auto;
    height: auto;
    img{
        width: 100px;
    }
} 
div.box-title{
    padding: 1em 0;
}
div.social-networks{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    a{
        margin: auto;
        background: rgba($lyn-gray, .7);
        width: 100%;
        height: 100px;
        border-radius: .5em;
        border: none;
        text-align: center;
        padding: .5em;
        &:hover{
            background: rgba($lyn-blue, .2);
        }
        img{
            &.phone{
                width: 100px;
                height: 32px;
            }
            width: 50px;
            height: 50px;
            line-height: 50px;
        }
        p{
            font-size: .8em;
            text-align: center;
        }
    }
}
/*     Mom, donate button     */
.box-btn{
    display: flex;
    justify-content: center;
    padding: .5em 0;
    a{
        padding: .5em .3em;
        border-radius: .5em;
        color: $white;
        font-weight: 700;
        width: 10em;
        box-shadow: $shadow-button;
        span{
            color: $white;
            vertical-align: middle;
            font-size: 1.1em;
        }
        &.btn-donar{
            background: linear-gradient(to right, $lyn-blue-s 0%, $lyn-blue 100%);
            &:hover{
                background: $lyn-blue-s;
            }
        }
        &.btn-mama{
            background: linear-gradient(to right, $lyn-pink 0%, $lyn-pink-s 100%);
            &:hover{
                background: $lyn-pink;
            }
        }
    }
} 


/*     Social networks, float button     */
.box-float-btn{
    #float-btn{
        display: none;
        &:checked{
            &~ .modal-contact{
                @include scale-in-ver-bottom;
                opacity: 1;
                visibility: visible;
            }
            &~ .float-btn-contact i.call{
                display: none;
            }
            &~ .float-btn-contact i.close{
                display: inline;
            }
        }
        
    }
    .float-btn-contact{
        // opacity: 0;
        position: fixed;
        bottom: 25px;
        right: 25px;
        z-index: 10;
        cursor: pointer;
        display: block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 50%;
        box-shadow: $shadow-button;
        background: linear-gradient(to right, $lyn-pink 20%, $lyn-purple 75%, $lyn-blue 100%);
        &::after{
            animation: pulsate 1s ease-out;
            animation-iteration-count: infinite; 
            content: "";
            border: 3px solid $white;
            border-radius: 50%;
            display: block;
            height: 55px;
            width: 55px;
            position: relative;
            top: -3.2em;
            left: -.2em;
        }
        i.close{
            display: none;
        }
    }
    .modal-contact{
        // @include scale-out-ver-bottom;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: $background-modal;
        .modal-content{
            width: 90vw;
            left: 0;
            right: 0;
            margin: auto;
            margin-top: 7em;
            padding: 0 .2em 1em;
            background: $white;
            border-radius: .5em;
            p.title{
                display: block;
                padding: .6em .3em;
                text-align: center;
            }
            
        }
    }
}
/*     Glider Js Configuration     */
div.box-glider{
    position: relative;
    .glider-prev, .glider-next{
        position: absolute;
        // background: rgba($lyn-blue, .6);
        border: none;
        top: 95%;
        cursor: pointer;
        display: block;
        width: .8em;
        height: 1.1em;
        line-height: 1em;
        text-align: center;
        i{
            color: $lyn-blue;
            font-size: 1em;
            &:hover{
                color: $lyn-pink;
            }
        }
    }
    .glider-prev{
        left: 1px;
    }
    .glider-next{
        right: 10px;
    }
}
div.glider-dots{
    .glider-dot{
        display: block;
        width: 1.5em;
        height: .5em;
        border-radius: .5em;
        background: rgba($gray-dark, .5);
        &.active{
            background: $lyn-pink;
        }
        &:hover{
            background: $lyn-pink-s;
        }
    }
}





