// sm 568px
@media screen and (min-width: 35.5em){
    header{
        div{
            &.box-menu{
                .menu-hamburguer{
                    display: none;
                }
                nav.menu-nav{
                    display: flex;
                    ul li{
                        display: inline-block;
                        a{
                            margin: 0 .5em;
                            
                            span{
                                display: none;
                            }
                        }
                    }
                }
            }  
            &.box-btn{
                display: flex;
            } 
        }
    }
    /*.welcome{
        .box-images{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1em;
            align-items: center;
        }
        .box-text{
            .botones{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: .5em;
                padding: 1em 0;
                .boton{
                    .boton-box-text{
                        padding: 0;
                        height: 60px;
                    }
                }
            }
        }
    }*/
}

// md 768px
@media screen and (min-width: 48em){
    header div.box-menu nav.menu-nav ul li{
        margin: 1em .3em 0;
        a{
            margin: 0;
        }
        a span{
            display: block;
            font-size: .7em;
        }
    }
    .welcome{
        padding-top: 5em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0 1em;
        .box-images{
            grid-row-start: 1;
            grid-row-end: 1;
            grid-column-start: 2;
            grid-column-end: 2;
        }
        .box-title{
            grid-row-start: 1;
            grid-row-end: 1;
            grid-column-start: 1;
            grid-column-end: 1;
            padding-top: 1em;
        }
        .box-ayuda{
            grid-row-start: 3;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 3;
            p{
                text-align: center;
                line-height: 1.5em;
            }
        }
    }
    .why-lyn{
        .box-description{
            p{
                text-align: center;
            }
        }
        .box-beneficios{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .box-contact p{
            font-weight: 600;
        }
    }
}

// lg 1024px
@media screen and (min-width: 64em){
    header div.box-menu nav.menu-nav ul li{
        margin: .5em .8em 0;
        a span{
           display: block;
           font-size: 1em;
       }
    }
    .welcome{
        .box-title{
            padding: 15% 0;
        }
    }
    .why-lyn{
        // height: 100vh;
        .box-description{
            p{
                text-align: center;
            }
        }
        .box-beneficios{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .box-contact{
            .social-media{
                a{
                    padding: 1em;
                    img{
                        width: 5.62em;
                    }
                }
            }
        }
    }
    .box-float-btn .modal-contact .modal-content .social-networks {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        a{
            height: 100px;
        }
    }
}

// xl 1280px
@media screen and (min-width: 80em){

}