.welcome{
    padding-top: 2.5em;
    /*.box-title{
        h1{
            font-size: 3em;
        }
    }*/
    .box-images{
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        // grid-gap: .5em;
        .image{
            justify-content: center;
            
            img{
                margin: 1em 0;
                width: 100%;
            }
        }
        .image-burbujas{
            padding: 1.6em 0;
        }
    }
    .box-text{
        padding: 0;
        p{
            padding: .5em 0;
        }
        .botones{
            padding-bottom: 1em;
            .boton{
                padding: 1em;
                
            }
        }
    }
    .box-ayuda{
        p{
            padding-bottom: 1.5em;
        }
    }
}

.why-lyn{
    // padding: 1em 0;
    background: $lyn-gray;
    .box-title{
        padding: 1em 0;
    }
    .box-description{
        p{
            padding: .5em 0;
            color: $gray;
        }
    }
    .box-beneficios{
        .beneficio{
            display: grid;
            grid-template-columns: 6.5em 1fr;
            align-items: center;
            padding: 1.5em 0;
            .box-image{
                background: linear-gradient(to right, $lyn-pink 20%, $lyn-purple 75%, $lyn-blue 100%);
                border-radius: 50%;
                width: 80px;
                height: 80px;
                text-align: center;
                padding-top: .5em;
                i{
                    font-size: 4.3em;
                }
            }
            .box-text{
                text-align: left;
                p{
                    // font-size: 1.1em;
                    font-weight: 600;
                    padding: .25em 0;
                    text-align: left;
                }
                span{
                    font-size: .9em;
                    color: $gray;
                    padding: .25em 0;
                }
            }
        }
    }
    .box-contact{
        .social-media{
            a{
                padding: .5em .25em;
                img{
                    width: 3.12em;
                }
            }
        }
    }
}