.welcome{
    padding-top: 4em;
    p{
        padding: 2.5em 0 .5em;
    }
    .box-images{
        overflow: hidden;
        img{
            margin: 1em 0;
            width: 95%;
        }
    }
    .box-text{
        padding-bottom: 1em;
    }
    .box-ayuda{
        p{
            padding-bottom: 1.5em;
        }
    }
}

.why-lyn{
    // padding: 1em 0;
    background: $lyn-gray;
    .box-title{
        padding: 1em 0;
    }
    .box-description{
        p{
            padding: .5em 0;
            color: $gray;
        }
    }
    .box-beneficios{
        .beneficio{
            display: grid;
            grid-template-columns: 6.5em 1fr;
            align-items: center;
            padding: 1.5em 0;
            .box-image{
                background: linear-gradient(to right, $lyn-pink 20%, $lyn-purple 75%, $lyn-blue 100%);
                border-radius: 50%;
                width: 80px;
                height: 80px;
                text-align: center;
                padding-top: .5em;
                i{
                    font-size: 4.3em;
                }
            }
            .box-text{
                text-align: left;
                p{
                    // font-size: 1.1em;
                    font-weight: 600;
                    padding: .25em 0;
                    text-align: left;
                }
                span{
                    font-size: .9em;
                    color: $gray;
                    padding: .25em 0;
                }
            }
        }
    }
    .box-contact{
        .box-title{
            p{
                text-align: center;
            }
        }
    }
}

.gallery{
    // padding-bottom: 3em;
    .box-text{
        padding: 1em 0;
    }
    .glider{
        position: relative;
        .glider-prev, .glider-next{
            position: absolute;
            background: rgba($white, .6);
            border: none;
            top: calc(60% - 38px);
            cursor: pointer;
            display: block;
            width: 1.1em;
            height: 1.1em;
            line-height: 1em;
            text-align: center;
            &:hover{
                background: $white;
            }
            i{
                color: $lyn-blue;
                font-size: 1em;
            }
        }
        .glider-prev{
            left: 10px;
        }
        .glider-next{
            right: 10px;
        }
        .images{
            overflow: hidden;
            .image{
                width: 100%;
                padding: 1em 0;
                margin: 0 .5em;
                .box-image{
                    background-image: linear-gradient(180deg, $lyn-pink 0%, $lyn-purple 51%, $lyn-blue 100%);
                    position: relative;
                    height: 200px;
                    overflow: hidden;
                    img{
                        // overflow: hidden;
                        width: 100%;
                        height: 200px;
                        padding: .2em;
                    }
                    .color-overlay{
                        background-image: linear-gradient(180deg, $lyn-pink 0%, $lyn-purple 51%, $lyn-blue 100%);
                        opacity: .3;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }
                .box-description, .box-description-text{
                    background: $lyn-gray;
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid $lyn-blue;
                    padding: .5em 1em;
                    i{
                        color: $lyn-pink-s;
                        font-size: 1.5em;
                        padding-right: .1em;
                    }
                    span{
                        vertical-align: middle;
                        font-size: 1.5em;
                    }
                }
                .box-description-text{
                    overflow: hidden;
                    height: 61px;
                    // padding: 1em;
                    span{
                        font-size: 1em;
                        color: $gray-dark;
                        text-align: left;
                        line-height: 1.5em;
                    }
                }
            }
        }
    }
    .glider-dot{
        display: block;
        width: 1.5em;
        height: .5em;
        border-radius: .5em;
        background: $lyn-gray;
        &.active{
            background: $lyn-pink;
        }
        &:hover{
            background: $lyn-pink-s;
        }
    }
}